.main-header {
  height: 300px;
  background: url(../images/hero.jpg) no-repeat center center;
}

.logo {
  img {
    max-width: 100%;
  }
}

.main-navigation {
  margin-top: 25px;
  a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;

    &:hover {
      text-decoration: underline;
    }
  }
}
